.spray_icon {
  filter: drop-shadow(2px 2px 0px var(--white-details))
    drop-shadow(-2px -2px 0px var(--white-details))
    drop-shadow(2px -2px 0px var(--white-details))
    drop-shadow(-2px 2px 0px var(--white-details));
  height: auto;
  position: absolute;
  width: 20%;
  z-index: -2;
}

#brawlers_info .spray_icon:nth-of-type(2) {
  top: -5%;
  right: 5%;
  rotate: 25deg;
}

#brawlers_info .spray_icon:nth-of-type(3) {
  top: 12%;
  left: 2%;
}

#brawlers_info .spray_icon:nth-of-type(4) {
  bottom: 5%;
  right: 2%;
}

#players_info .spray_icon:nth-of-type(2) {
  top: -5%;
  left: 25%;
  rotate: -20deg;
}

#players_info .spray_icon:nth-of-type(3) {
  top: 50%;
  left: 5%;
}

#players_info .spray_icon:nth-of-type(5) {
  bottom: -5%;
  right: 15%;
}

@media (min-width: 769px) {
  #brawlers_info .spray_icon:nth-of-type(3),
  #brawlers_info .spray_icon:nth-of-type(4),
  #players_info .spray_icon:nth-of-type(3) {
    display: none;
  }
}
