@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.character_card {
  align-items: center;
  background: var(--color-background);
  border-radius: 10px;
  border: 2px solid var(--white-details);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 310px;
  position: relative;
  width: 350px;

  animation: scaleInOut linear both reverse;
  animation-timeline: view();
  animation-range: entry 10% cover 25%;
}

.character_description {
  color: var(--color-text);
  padding: 1em;
  flex-grow: 1;
  background: var(--color-background);
  border-radius: 0px 0px 8px 8px;
}

.character_portrait {
  border-radius: 8px 8px 0 0;
  display: flex;
  height: 125px;
  position: relative;
  width: 100%;

  transition: all 0.3s ease-in-out;
}

.character_portrait > img {
  border-radius: 8px 0 0 0;
  filter: drop-shadow(2px 0px 2px var(--color-background));
  height: 125px;
  width: auto;
}

.character_portrait p {
  background: var(--white-details);
  border-radius: 10px;
  border: 2px solid var(--color-background);
  bottom: 5px;
  box-shadow: 2px 2px 0px var(--color-background);
  font-size: 1.1em;
  padding: 5px 10px;
  position: absolute;
  right: 5px;
}

/* Hover by rarity */

.legendary:hover > .character_portrait {
  background-color: var(--color-legendary);
}

.mythic:hover > .character_portrait {
  background-color: var(--color-mythic);
}

.epic:hover > .character_portrait {
  background-color: var(--color-epic);
}

.superrare:hover > .character_portrait {
  background-color: var(--color-superrare);
}

.rare:hover > .character_portrait,
.common:hover > .character_portrait {
  background-color: var(--color-rare);
}

/* Dynamic border */
.character_card.legendary::after,
.character_card.legendary::before,
.character_card.mythic::after,
.character_card.mythic::before,
.character_card.epic::after,
.character_card.epic::before,
.character_card.superrare::after,
.character_card.superrare::before,
.character_card.rare::after,
.character_card.rare::before,
.character_card.common::after,
.character_card.common::before {
  background-image: conic-gradient(
    from var(--angle),
    transparent 50%,
    var(--color-legendary)
  );
  border-radius: 12px;
  content: "";
  height: 100%;
  left: 50%;
  opacity: 0;
  padding: 5px;
  position: absolute;
  top: 50%;
  translate: -50% -50%;
  width: 100%;
  z-index: -2;

  animation: 3s spin linear infinite;
  transition: all 0.3s ease-in-out;
}

.character_card.mythic::after,
.character_card.mythic::before {
  background-image: conic-gradient(
    from var(--angle),
    transparent 50%,
    var(--color-mythic)
  );
}

.character_card.epic::after,
.character_card.epic::before {
  background-image: conic-gradient(
    from var(--angle),
    transparent 50%,
    var(--color-epic)
  );
}

.character_card.superrare::after,
.character_card.superrare::before {
  background-image: conic-gradient(
    from var(--angle),
    transparent 50%,
    var(--color-superrare)
  );
}

.character_card.rare::after,
.character_card.rare::before,
.character_card.common::after,
.character_card.common::before {
  background-image: conic-gradient(
    from var(--angle),
    transparent 50%,
    var(--color-rare)
  );
}

.character_card::before {
  filter: blur(1.5rem);
  opacity: 0;
}

.character_card.legendary:hover::before,
.character_card.legendary:hover::after,
.character_card.mythic:hover::before,
.character_card.mythic:hover::after,
.character_card.epic:hover::before,
.character_card.epic:hover::after,
.character_card.superrare:hover::before,
.character_card.superrare:hover::after,
.character_card.rare:hover::before,
.character_card.rare:hover::after,
.character_card.common:hover::before,
.character_card.common:hover::after {
  opacity: 1;
}

@media (max-width: 426px) {
  .character_card {
    max-width: 300px;
  }
}
