.detailed_card_overlay {
  position: fixed;
  top: 10vh;
  left: 0;
  width: 100%;
  height: 90vh;
  border: 2px solid red;
  background-color: grey;
  z-index: 99;
}

.detailed_card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.detailed_card header {
  border: 2px solid blue;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.detailed_card header {
  border: 2px solid green;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.model_img {
  width: 150px;
  height: auto;
}
