@keyframes neon {
  0% {
    box-shadow: 0px 0px 10px var(--color-accent);
    transform: translate(2px, 2px);
  }
  100% {
    box-shadow: 0px 0px 20px var(--color-accent);
    transform: translate(2px, 2px);
  }
}

.detailed_card_overlay {
  align-items: center;
  background: rgba(128, 128, 128, 0.716);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  padding: 2em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;

  animation: fadeIn 0.3s linear both;
}

.close_btn {
  cursor: pointer;
  filter: invert(1);
  position: absolute;
  right: 10px;
  top: 10px;
}

.detailed_card {
  align-items: center;
  border-radius: 10px;
  border: 2px solid var(--white-details);
  color: var(--color-text);
  display: flex;
  justify-content: center;
  padding: 1em;
  position: relative;
  height: 425px;
  width: 800px;

  animation: scaleInOut 0.3s linear both reverse;
}

/* Background color by rarity */
.detailed_card.legendary {
  background: linear-gradient(
    135deg,
    var(--color-legendary) 0%,
    var(--color-background) 50%
  );
}

.detailed_card.mythic {
  background: linear-gradient(
    135deg,
    var(--color-mythic) 0%,
    var(--color-background) 50%
  );
}

.detailed_card.epic {
  background: linear-gradient(
    135deg,
    var(--color-epic) 0%,
    var(--color-background) 50%
  );
}

.detailed_card.superrare {
  background: linear-gradient(
    135deg,
    var(--color-superrare) 0%,
    var(--color-background) 50%
  );
}

.detailed_card.rare,
.detailed_card.common {
  background: linear-gradient(
    135deg,
    var(--color-rare) 0%,
    var(--color-background) 50%
  );
}

/*! CHARACTER MODEL, EMOJI AND NAME */
.header_detailed_card {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  width: 100%;
}

.header_detailed_card h2 {
  background: var(--white-details);
  border-radius: 10px;
  border: 2px solid var(--color-background);
  box-shadow: 2px 2px 0px var(--color-background);
  color: var(--color-background);
  font-size: 3em;
  padding: 0px 10px;
}

.model_img {
  filter: drop-shadow(0px 0px 2px var(--white-details));
  max-height: 300px;
  max-width: 300px;
  object-fit: contain;
  width: 100%;
}

.emoji_img {
  display: none;
}

/*! POWER INFO */
.section_detailed_card {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2em;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.power_name {
  align-items: center;
  border-radius: 10px;
  display: flex;
  font-size: 1.5em;
  justify-items: center;
  padding: 5px 10px;
}

.power_icons {
  align-items: center;
  display: flex;
  justify-content: space-around;
  max-width: 350px;
  min-width: 275px;
}

.ability_icon {
  background: var(--color-background);
  border-radius: 10px;
  border: 2px solid var(--white-details);
  box-shadow: 2px 2px 0px var(--white-details);
  cursor: pointer;
  height: 50px;
  padding: 5px;
  width: 50px;

  transition: all 0.2s ease-in-out;
}

.ability_icon:hover {
  background-color: #242424;
}

.ability_icon:active {
  box-shadow: 0px 0px 0px;
  transform: translate(2px, 2px);
}

.power_desc {
  align-items: center;
  border-radius: 10px;
  box-shadow: inset -6px -6px 8px #2a2a2a, inset 6px 6px 8px rgba(0, 0, 0, 0.8);
  display: flex;
  height: 100px;
  justify-items: center;
  max-width: 400px;
  min-width: 275px;
  padding: 1em;
}

/*! Seleted power efect class  */
.select_power {
  animation: neon 1s linear infinite alternate;
}

@media (max-width: 685px) {
  .detailed_card_overlay {
    padding: 1em;
  }

  .detailed_card {
    flex-direction: column;
  }

  /* Background color by rarity */
  .detailed_card.legendary {
    background: linear-gradient(
      180deg,
      var(--color-legendary) 0%,
      var(--color-background) 50%
    );
  }

  .detailed_card.mythic {
    background: linear-gradient(
      180deg,
      var(--color-mythic) 0%,
      var(--color-background) 50%
    );
  }

  .detailed_card.epic {
    background: linear-gradient(
      180deg,
      var(--color-epic) 0%,
      var(--color-background) 50%
    );
  }

  .detailed_card.superrare {
    background: linear-gradient(
      180deg,
      var(--color-superrare) 0%,
      var(--color-background) 50%
    );
  }

  .detailed_card.rare,
  .detailed_card.common {
    background: linear-gradient(
      180deg,
      var(--color-rare) 0%,
      var(--color-background) 50%
    );
  }

  .header_detailed_card {
    flex-direction: row;
  }

  .header_detailed_card h2 {
    font-size: 2em;
  }

  .emoji_img {
    display: flex;
    height: 50px;
    width: auto;
  }

  .model_img {
    display: none;
  }

  .section_detailed_card {
    gap: 1em;
    padding: 1em;
  }
}

@media (max-width: 375px) {
  .detailed_card {
    width: 300px;
  }
}
