#sort_by_section,
#sort_by_section article {
  height: auto;
  width: 100%;
}

.by_name,
.article_container {
  align-items: center;
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  height: auto;
  justify-items: center;
  padding: 2em 10%;
  position: relative;
  width: 100%;
}

#sort_by_section article {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2em;
}

@media (max-width: 915px) {
  .by_name,
  .article_container {
    padding: 2em 0.5em;
  }
}

@media (max-width: 426px) {
  .by_name,
  .article_container {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
