#hero {
  align-items: center;
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: center;
  min-height: 90vh;
  width: 100%;
}

#hero > h2 {
  font-size: 5em;
  font-weight: 100;
}

#hero > h3 {
  font-size: 2em;
  font-weight: 100;
}

#hero > video {
  filter: brightness(0.4);
  height: 100vh;
  object-fit: cover;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

#brawlers_info {
  background: grey;
  border: 2px solid red;
}

.home_container {
  border: 2px solid yellowgreen;
  display: flex;
}

.home_container > video {
  width: 500px;
  height: auto;
}

#players_info {
  background: rgb(1, 1, 165);

}

