@keyframes scaleInOut {
  to {
    transform: scale(0);
    opacity: 0;
  }
}

#hero {
  align-items: center;
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: center;
  min-height: 90vh;
  width: 100%;
}

#hero > h2 {
  font-size: 5em;
  font-weight: 100;
}

#hero > h3 {
  font-size: 2em;
  font-weight: 100;
}

#hero > video {
  filter: brightness(0.4);
  height: 100vh;
  object-fit: cover;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

#hero h2, h3, #navbar_social {
  animation: scaleInOut linear both;
  animation-timeline: view();
  animation-range: exit -20vh exit 0vh;
}
