#filter {
  align-items: center;
  display: flex;
  gap: 1em;
  height: auto;
  justify-content: center;
  padding: 1em;
  width: 350px;
}

#filter p {
  font-size: 1.5em;
}

#filter p:nth-of-type(1) {
  color: var(--color-text);
}

#filter p:nth-of-type(2) {
  color: var(--color-background);
}

#sort_by {
  border: 2px solid var(--color-background);
  width: 150px;
  text-align: center;
  padding: 5px 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 0 var(--color-background);
  cursor: pointer;
  background: var(--white-details);

  transition: all 0.2s ease-in-out;
}

#sort_by:active {
  box-shadow: 0px 0px 0px;
  transform: translate(2px, 2px);
}
