.class_divider {
  align-items: center;
  display: flex;
  filter: drop-shadow(2px 2px 2px var(--color-background));
  gap: 1em;
  justify-items: center;
  width: 80%;

  animation: popIn linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 50%;
}

.class_divider a {
  color: var(--color-text);
  font-size: 2em;
  text-align: center;
}

.class_divider a {
  cursor: default;
}

.class_divider div {
  background: var(--color-text);
  border-radius: 50px;
  height: 5px;
  width: 100%;
}

.class_divider img {
  width: 50px;
  height: 50px;
}
