/* Add or remove ID if you add or remove section templates */
#brawlers_info,
#players_info {
  align-items: center;
  background: var(--color-section-background)
    url("https://www.transparenttextures.com/patterns/60-lines.png");
  display: flex;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  width: 100%;
  z-index: 1;
}

.home_container {
  align-items: center;
  background: var(--color-background);
  border-radius: 10px;
  border: 2px solid var(--white-details);
  box-shadow: 15px 15px 15px var(--color-background);
  display: flex;
  gap: 2em;
  justify-content: center;
  max-width: 60%;
  min-height: 400px;
  min-width: 300px;
  padding: 2em;

  animation: scaleInOut linear both reverse;
  animation-timeline: view();
  animation-range: entry 20% cover 40%;
}

.home_container video {
  border-radius: 10px;
  box-shadow: 0px 0px 5px var(--white-details);
  width: 100%; 
  height: auto; 
  max-width: 50%;
  min-width: 250px;
}

.section_info {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2em;
  height: 100%;
  justify-content: center;
}

.section_info h2 {
  color: var(--color-accent);
  font-size: 3em;
  text-align: center;
}

.section_info p {
  color: var(--color-text);
  font-size: 1.5em;
}

@media (max-width: 1310px) {
  .section_info h2 {
    font-size: 2em;
  }

  .section_info p {
    font-size: 1.2em;
  }
}

@media (max-width: 967px) {
  .home_container {
    flex-direction: column;
    padding: 1em;
  }
}

@media (max-width: 768px) {
  .home_container {
    max-width: 90%;
  }
}
