footer {
  background-color: var(--color-background);
  color: #b2b2b2;
  display: flex;
  gap: 2em;
  height: auto;
  justify-content: space-between;
  padding: 2em;
  width: 100%;
  z-index: 5;
}

footer a {
  color: var(--color-accent);
}

.created_by {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.created_by .logo {
  filter: grayscale(1);
  justify-content: left;
}

.my_work {
  align-items: center;
  display: flex;
  gap: 2em;
  justify-content: center;
}

.my_work_anchor {
  align-items: center;
  display: flex;
  justify-content: center;

  transition: all 0.3s ease-in-out;
}

.my_work_anchor:hover {
  transform: scale(1.1);
}

.my_work_icon {
  filter: invert(1);
}

.thanks_to {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 1em;
}

@media (max-width: 768px) {
  footer {
    padding: 2em 1em;
  }
}
