@keyframes shaking {
  0% {
    transform: rotate(0grad);
  }
  25% {
    transform: rotate(-10grad);
  }
  50% {
    transform: rotate(10grad);
  }
  75% {
    transform: rotate(-10grad);
  }
  100% {
    transform: rotate(0grad);
  }
}

#navbar_social {
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  background: rgba(0, 0, 0, 0.15);
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  height: auto;
  width: 350px;
}

#navbar_social > ul {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}