@font-face {
  font-family: "lilitaone";
  src: url("/assets/fonts/lilitaone-regular-webfont\ \(2\).ttf");
}

:root {
  --color-accent: #f3ad20;
  --color-background: #121212;
  --color-text: #f7f7f7;
  --white-details: #ffffff;
  --color-section-background: #172554;
}

* {
  box-sizing: border-box;
  font-family: "lilitaone", sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background: var(--color-section-background)
  url("https://www.transparenttextures.com/patterns/60-lines.png");
}

main {
  min-height: 90vh;
  padding-top: 10vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  background-color: var(--color-background);
  min-height: 100px;
  width: 100%;
  z-index: 999;
}
