.brawler_model {
  position: absolute;
  z-index: 1;
  width: 20%;
  height: auto;
  filter: drop-shadow(2px 2px 0px var(--white-details))
    drop-shadow(-2px -2px 0px var(--white-details))
    drop-shadow(2px -2px 0px var(--white-details))
    drop-shadow(-2px 2px 0px var(--white-details))
    drop-shadow(15px 15px 15px var(--color-background));

  animation: scaleInOut linear both reverse;
  animation-timeline: view();
  animation-range: entry 10% cover 40%;
}

#brawlers_info .brawler_model {
  top: 8em;
  left: 2em;
}

#players_info .brawler_model:nth-of-type(1) {
  top: -15em;
  right: 2em;
}

#players_info .brawler_model:nth-of-type(4) {
  bottom: 2em;
  left: 2em;
}

@media (max-width: 967px) {
  #players_info .brawler_model:nth-of-type(4) {
    bottom: 10em;
  }
}

@media (max-width: 768px) {
  .brawler_model {
    display: none;
  }
}
